@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 class="text-center">Mixed Martial Arts Academy</h1>
    <p class="lead">Welcome to the Mixed Martial Arts Academy, where you can train with the best teachers the world has to offer. Accepting 
    all students, from beginners to experts.</p>
    @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
    @Html.ActionLink("Continue...", "Index", "Lessons")
</div>